################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Y.Convertor/v15
/Y.Convertor/bin/Debug
/Y.Convertor/.vs/Y.Convertor/v15/Server/sqlite3
/Y.Convertor/obj/Debug
/Test
/Y.Convertor/bin/Release
/Y.Convertor/obj/Release
